body {
	font-family:"Andale Mono","Open Sans",Helvetica, Arial, sans-serif;
	font-size:9pt;
	color:#333;
	margin:40px;
}
.invisible {
	color:#EEE;
}
#container {
	width:780px;
	margin:auto;
}
#player {
	float:left;
	width:240px;
}
#book {
	float:right;
}
#sounds {
	padding:0;
	margin:0;
}
#sounds td{
	width:20px;
	height:6px;
/*	border:1px solid #EEE;*/
	margin:0;
	padding:0;
	overflow:hidden;
	font-size:0pt;
}
.uploaded {
/*	background:#EEE;*/
	border:1px solid #EEE;
}
.uploaded:hover {
/*	background:#EEE;*/
	background:#333;
}
.empty {
	background: white;
}
.empty:hover {
	background: red;
}

#page {
	font-family:"Andale Mono","Open Sans",Helvetica, Arial, sans-serif;
	font-size:7pt;
	position:absolute;
	display:none;
}


/*jplayer yo*/
div.jp-audio, div.jp-audio-stream, div.jp-video {

    border: 0;
}
div#jp_container_1.jp-audio {

    height: 50px;
    width: 780px;
}
div.jp-audio div.jp-type-single div.jp-interface {
	background-color: #FFF;
    height: 50px;
}

div.jp-audio ul.jp-controls {
    padding: 0;
    width: 260px;
}
div.jp-audio div.jp-type-single div.jp-progress {
	top:3px;
    left: 35px;
    width: 745px;
	height:5px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
	font-family:"Andale Mono","Open Sans",Helvetica, Arial, sans-serif;
	top:13px;
    left: 35px;
    width: 745px;
	color:#AAA;
}
div.jp-current-time, div.jp-duration {
    font-style: normal;
}
div.jp-play-bar {
    background: url("../blue.monday/invisible.buttons.png") repeat-x scroll 0 -218px transparent;
}
div.jp-seek-bar {
	background: url("../blue.monday/invisible.buttons.png") repeat-x scroll 0 -202px transparent;
}
a.jp-play {
	background: url("../blue.monday/invisible.buttons.png") 0 0 no-repeat;
}
a.jp-play:hover {
	background: url("../blue.monday/invisible.buttons.png") -41px 0 no-repeat;
}
a.jp-pause {
	background: url("../blue.monday/invisible.buttons.png") 0 -42px no-repeat;
	display: none;
}
a.jp-pause:hover {
	background: url("../blue.monday/invisible.buttons.png") -41px -42px no-repeat;
}
a.jp-play, a.jp-pause {
    height: 10px;
    width: 10px;
}

