<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}blue.monday/jplayer.blue.monday.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/perfect-scrollbar.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" />
	<link href='http://fontsw.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site_ie_netscape.css" />
	<![endif]-->
	
	<!--[if Netscape]>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site_ie_netscape.css" />
	<![endif]-->	
	{% block extra_css %}{% endblock %}		
</head>
<script type="text/javascript">
	var STATIC_URL = '{{ STATIC_URL }}';
</script>
<body>
	<div id="container">
		{% block content %}
		{% endblock %}	
    </div>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/perfect-scrollbar.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/site.js"></script>
	{% block extra_js %}{% endblock %}	    
</body>
</html>