{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% load render_text %}

{% block content %}

<div id="upload_bg">
	<div id="default_text">Choose audio file</div>
	<div id="close"><a href="" /></a></div>
	<div id="upload_form" >
       <form id="upload" name="sound_upload" action="." enctype="multipart/form-data" method="POST">{% csrf_token %}
           
            
            {{ form.audio_file }}
            {{ form.chunk }}
            
            <br/><br/>
            <input id="file_submit" type="submit" value="Upload">
        </form>
	</div>

	 {% if form.errors %}
        <div id="errors">
        {% for field in form %}
            <p><strong>{{ field.errors }}</strong></p>
        {% endfor %}                
        </div>
        {% endif %}
</div>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="menu">
	<a id="play" href="">Listen</a>
    <a id="pause" href="">Pause</a>    
	<a id="upload" href="">Contribute</a>
	<a id="info" href="">Description</a>
</div>
<div id="contribute">
<div id="close"><a href="" /></a></div>
<div style="clear:both">Select a segment of text that you would like to read aloud (scroll down for more text). Speak as clearly as possible and record it on a sound recorder, smart phone, or directly into your computer.</div>
</div>
<div id="about">
	<div id="close"><a href="" /></a></div>
	<p><i>"I am invisible, understand, simply because people refuse to see me."</i></p>
	<p>History:
	On September 16, 2013, the Randolph County Board of Education in Central North Carolina banned Ralph Ellison's book "The Invisible Man" after a student's mother complained about the adult content in the book. One board member supported her complaint, stating that he "didn't find any literary value" in Ellison's account of African-American alienation in the United States in the early 20th century. The ban remained for a mere nine days until it was lifted by the North Carolina School Board under much fire by the public. </p>
	<p>Over sixty years after the book's publication date, even after  winning the National Book Award for fiction in 1953 and being named by the Library of Congress as one of the "Books That Shaped America," this incident demonstrates the precarity that a work, even one that has been nationally recognized, faces in a cultural climate of a country that has not resolved its history of racial oppression.</p>
	<p>In the novel, the main character struggles to do good in the world, but is thwarted by structures instituted to maintain the status quo. He eventually aligns himself with the invisible, those who tip-toe precariously at the periphery of our society. We are asking participants to read out loud and record as much or as little of the book as they want in a show of solidarity with the invisible. Through the voice, may we collectively enact a visibility.</p>
	<br/>
	<p><b>Contribute</b> <ul><li>Click <i>Contribute</i>.</li><li>Choose a section of text that has not been recorded.</li> <li>Record the text on an iphone, portable recorder, or straight into your computer.</li><li>Upload file.</li></ul>
</div>
<div id="book">
    {% for chunk in work.chunk_set.all %}
        {% if chunk.chunksubmission.audio_file %}
        <div id="{{ STATIC_URL }}{{ chunk.chunksubmission.audio_file.name }}" class="uploaded">{{ chunk.text|linebreaks }}</div>
        {% else %}
        <div id="chunk_{{ chunk.id }}">{{ chunk.text|linebreaks }}</div>
        {% endif %}    
    {% endfor %}
</div>

{% endblock content %}