{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% load render_text %}

{% block content %}

<div id="upload_bg">
	<div id="default_text">Choose file for page</div>
	<div id="close"><a href="" /></a></div>
	<div id="upload_form" >
       <form id="upload" name="sound_upload" action="." enctype="multipart/form-data" method="POST">{% csrf_token %}
            {% if form.errors %}
            <div id="errors">
            {% for field in form %}
                <p><strong>{{ field.errors }}</strong></p>
            {% endfor %}                
            </div>
            {% endif %}
            
            {{ form.audio_file }}
            {{ form.start_index }}
            {{ form.end_index }}
            
            <br/><br/>
            <input id="file_submit" type="submit" value="Upload">
        </form>
	</div>
</div>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="menu">
	<a id="upload" href=""></a>
	<a id="play" href=""></a>
	<a id="info" href=""></a>
</div>
<div id="book">
    {% render_text work %}
</div>

{% endblock content %}